@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-gray: var(--gray);
  --color-very-dark-brown: (--very-dark-brown);
  --color-action: var(--action);
  --color-action-hover: var(--action-hover);
  --color-success: var(--success);
  --color-error: var(--error);

  --font-playfair: var(--font-playfair);
  --default-font-family: var(--font-poppins);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9975 0.0017 67.8);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(72.681% 0.00228 15.216);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.6129 0.0729 350.2);
  --primary-foreground: oklch(0.985 0 0);
  --primary-hover: oklab(71.154% 0.08772 -0.01437);
  --secondary: oklch(0.9975 0.0017 67.8);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: rgb(170, 170, 170);
  --sidebar-ring: oklch(0.708 0 0);

  --gray: oklch(0.738 0 0);
  --very-dark-brown: oklch(0.145 0 0);
  --action: oklch(0.7665 0.1387 91.06);
  --action-hover: oklch(0.8637 0.1399 92.07);
  --success: oklch(0.7141 0.0789 168.72);
  --error: oklch(0.5054 0.1403 23.57);

  --font-playfair: "Playfair Display", "serif";
  --font-poppins: "Poppins", "sans-serif";
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --primary-hover: oklab(71.154% 0.08772 -0.01437);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.738 0 0);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklab(0.708 0 0);

  --action: oklch(0.7665 0.1387 91.06);
  --action-hover: oklch(0.8637 0.1399 92.07);
  --success: oklch(0.7141 0.0789 168.72);
  --error: oklch(0.5054 0.1403 23.57);

  --font-playfair: "Playfair Display", "serif";
  --font-poppins: "Poppins", "sans-serif";
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-(--very-dark-brown) min-h-svh;
  }

  p {
    font-size: 12px;
  }

  h1 {
    @apply text-(--color-primary);
    font-family: var(--font-playfair);
    font-size: 31px;
    font-weight: bold;
  }

  h2 {
    @apply text-(--color-primary);
    font-family: var(--font-playfair);
    font-size: 20px;
    font-weight: bold;
  }

  h3 {
    @apply text-(--color-primary);
    font-family: var(--font-playfair);
    font-size: 16px;
    font-weight: bold;
  }

  h4 {
    @apply text-(--color-primary);
    font-family: var(--font-playfair);
    font-size: 20px;
    font-weight: bold;
  }

  .body-small {
    font-size: 13px;
  }

  .caption {
    font-size: 12px;
  }

  .link {
    @apply text-(--color-action);
    font-size: 12px;
  }

  ::placeholder {
    color: var(--gray);
  }

  .btn-primary {
    @apply bg-(--color-primary) rounded-4xl;
    width: 144px;
    height: 40px;
    color: var(--primary-foreground);
  }

  .btn-primary:hover {
    @apply bg-(--color-primary-hover) cursor-pointer;
  }

  .btn-primary:disabled {
    @apply bg-(--color-primary)/40;
  }

  .btn-secondary {
    @apply bg-(--color-secondary) rounded-4xl border-2 border-(--primary)/40;
    width: 144px;
    height: 40px;
    color: var(--color-primary);
  }

  .btn-secondary:hover {
    @apply cursor-pointer;
    border-color: var(--color-primary);
    cursor: cursor-pointer;
  }

  .btn-action {
    @apply bg-(--color-action) rounded-4xl;
    width: 144px;
    height: 40px;
    color: var(--very-dark-brown);
  }

  .btn-action:hover {
    @apply bg-(--color-action-hover) cursor-pointer;
  }

  .custom-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  }

  /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    /* background-color: #eee; */
    border-radius: 50%;
    border: 1px solid var(--color-primary);
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--color-background);
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 4.5px;
    left: 4.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-primary);
  }
}

.playfair-display-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rdp-selected {
  font-weight: bold;
  font-size: 10px;
}

@media (min-width: 640px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 13px;
  }

  p {
    font-size: 10px;
  }

  ::placeholder {
    font-size: 9px;
  }

  .link {
    font-size: 10px;
  }

  .small-text {
    font-size: 10px;
  }

  .btn-primary {
    width: 90px;
    height: 30px;
    font-size: 10px;
  }

  .btn-secondary {
    width: 105px;
    height: 30px;
    font-size: 11px;
    font-weight: 600;
  }

  .btn-action {
    width: 105px;
    height: 30px;
    font-size: 11px;
  }

  .caption {
    font-size: 8px;
  }

  .checkmark {
    height: 20px;
    width: 20px;
  }

  .container .checkmark:after {
    top: 2.8px;
    left: 2.8px;
    width: 13px;
    height: 13px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .btn-primary {
    width: 110px;
    height: 35px;
    font-size: 12px;
  }

  .btn-secondary {
    width: 110px;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
  }

  .btn-action {
    width: 110px;
    height: 35px;
    font-size: 12px;
  }

  .caption {
    font-size: 10px;
  }
}
